/*h1{*/
	/*font-size: 1em;*/
	/*color: DarkGrey;*/
/*}*/
.map {
	margin: 0;
	overflow: hidden;
	height: 550px;
	padding: 0;
	font-family: sans-serif;
	text-align: center;
}

card div {
	background-color:rgba(128, 128, 128, 0.07);
}

body {
	padding: 20px;
	/*background-color: #3C3C3C;*/
}
.svg {
	width: 100%;
	cursor: pointer
}
.grid-background {
	fill: #ddd;
}
.axis .halo {
	fill: none;
	stroke: #ddd;
	stroke-width: 8px;
	stroke-linecap: round;
	cursor: pointer
}

.slider{
	cursor: pointer;
}
.slider .handle {
	fill: red;
	stroke: #000;
	stroke-opacity: .5;
	stroke-width: 1.25px;
}
.axis path{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	fill:none;
}
.axis2 line{
	stroke: darkgrey;
	stroke-width: 1.6px;
}
.axis2 .minor line{
	stroke: darkgrey;
	stroke-width: .6px;
}
.axis2 text {
	font-family: sans-serif;
	font-size: 11px;
	fill: darkgrey;
}
.axis2 .minor text{
	fill: none;
}

#toolbar {
	position: absolute;
	top: 0px;
	left: 0;
	display: inline;
	margin: 10px;
	padding: 0px;
	background: white;
}


clauses > .boxed {
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
	background-color: white;
}

.cancel {
	background-color:#535353;
}

.ol-circle{
	top:65px;
	left: .5em;
}
.ol-stream{
	right: .5em;
	background-color: white;
	overflow-y : auto;
	position:fixed; top:2%; right:2%;
}

.scrollable{
	overflow : auto;

}
.clause{
	cursor: pointer;
	margin-left: 10px;

}

.clauses{
	height:30px;
	display:block;
	margin-bottom: 10px;
}

.fixedContainer{
	position:fixed;
	background-color: white;
	z-index: 1;
	margin-top:-20px;
	padding-top:20px;
}

.timeline{
	position:fixed;

}

.main{
	padding-top:75px;
}

.entity{
	background-color: #fff;
	border: 1px solid #e1e8ed;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.375em;
	padding: 13px 15px 15px;
	position: relative;
}

.timestamp{
	color: #8899a6;
	display: inline-block;
	font-size: 13px;
	transition: color .15s;
	white-space: nowrap;
}

.handle{
	color: #8899a6;
	font-size: 13px;
}
.button {
	border: 1px solid #811617;
	background: #d9534f;
	background: -webkit-gradient(linear, left top, left bottom, from(#F5515F), to(#9F041B));
	background: -webkit-linear-gradient(top, #F5515F, #9F041B);
	background: -moz-linear-gradient(top, #F5515F, #9F041B);
	background: -ms-linear-gradient(top, #F5515F, #9F041B);
	background: -o-linear-gradient(top, #F5515F, #9F041B);
	background-image: -ms-linear-gradient(top, #F5515F 0%, #9F041B 100%);
	padding: 10.5px 21px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #7ea4bd 0 1px 0;
	color: #fff;
	font-size: 14px;
	font-family: helvetica, serif;
	text-decoration: none;
	vertical-align: middle;
}
.button:hover {
	border: 1px solid #811617;
	text-shadow: #1e4158 0 1px 0;
	background: #d9534f;
	background: -webkit-gradient(linear, left top, left bottom, from(#9F041B), to(#F5515F));
	background: -webkit-linear-gradient(top, #9F041B, #F5515F);
	background: -moz-linear-gradient(top, #9F041B, #F5515F);
	background: -ms-linear-gradient(top, #9F041B, #F5515F);
	background: -o-linear-gradient(top, #9F041B, #F5515F);
	background-image: -ms-linear-gradient(top, #9F041B 0%, #F5515F 100%);
	color: #fff;
}
.button:active {
	text-shadow: #1e4158 0 1px 0;
	border: 1px solid #811617;
	background: #9F041B;
	color: #fff;
}

.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.link {
	stroke: #999;
	stroke-opacity: .6;
}

.node-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
	z-index: 1000;
}

/* Creates a small triangle extender for the tooltip */
.node-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.node-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}
/*

.north{
	background-color:#ddd;
	position: fixed;
	padding: 2em;
	left: 50%;
	top: 0%;
	transform: translateX(-50%);
}

.fixedContainer {
	background-color:#ddd;
	position: fixed;
	padding: 2em;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
}


*/
/*.grid line {*/
/*stroke: #fff;*/
/*}*/

/*.grid .minor line {*/
/*stroke-opacity: .5;*/
/*}*/

/*.grid text {*/
/*display: none;*/
/*}*/

/*.axis line {*/
/*stroke: #000;*/
/*}*/
/*.grid path {*/
/*display: none;*/
/*}*/
