<div class="row">
    <div class="col-xs-1">
        <button class="btn btn-danger" ng-click="playTimeline()"><i ng-if="!isPlay" class="fa fa-play"></i><i ng-if="isPlay" class="fa fa-pause"></i></button>
	    <span ng-if="tickRange">{{moment(tickRange.start).format('HH:mm:SS')}}-{{moment(tickRange.end).format('HH:mm:SS')}}</span>
        <!--<button class="button" ng-click="playTimeline()"></button>-->
    </div>
    <div class="col-xs-11">
        <svg id="d3timeline" width='100%' height='100px'></svg>
    </div>

</div>
